    <div class="card {{ constant('DEFAULT_CARD_CLASS') }} mr-4">
        <div class="card-header d-lg-flex flex-wrap justify-content-between {{ constant('DEFAULT_CARD_HEADING_CLASS') }}">
            {% if object.records_count > 0 %}

            <div class="d-flex ml-auto order-lg-2">
                {{ object.select_number_per_page|raw }}
            </div>

            <hr class="w-100 d-lg-none">

            {% endif %}
            <div class="d-flex order-lg-0 mb-3 mb-sm-0">
                {% if object.can_create == true %}
                <a href="{{ constant('ADMIN_URL') }}{{ object.item }}/create" class="btn btn-sm mr-1 btn-primary d-flex align-items-center legitRipple"><i class="{{ constant('ICON_PLUS') }} position-left"></i>{{ constant('ADD_NEW') }}</a>
                {% endif %}
                {% if object.records_count > 0 %}
                {{ object.export_data_button|raw }}
                {% endif %}
            </div>

            <div class="order-lg-1 mx-lg-auto">
                <form name="rp-search-form" id="rp-search-form" action="" class="form-inline justify-content-center">
                    <div class="form-group">
                        <div class="input-group">
                            <div id="rp-search-field" class="dropdown input-group-prepend">
                                <a class="btn dropdown-toggle pl-4 pr-3 {{ constant('DEFAULT_BUTTONS_BACKGROUND') }}" rel="noindex" id="search-dropdown-link" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"></a>
                                <div class="dropdown-menu" aria-labelledby="search-dropdown-link">
                                    {% for field_name, field_display_name in object.fields %}
                                    {% set active = '' %}
                                    {% if field_name == attribute(session.rp_search_field, object.table) %}
                                    {% set active = ' active' %}
                                    {% elseif field_name == '' %}
                                    {% set active = ' active' %}
                                    {% endif %}
                                    <a class="dropdown-item{{ active }}" href="#" rel="noindex" data-value="{{ field_name }}">{{ field_display_name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            {% set search_value = '' %}
                            {% if attribute(session.rp_search_string, object.table) is defined %}
                            {% set search_value = attribute(session.rp_search_string, object.table) %}
                            {% endif %}
                            <input id="rp-search" name="rp-search" type="text" value="{{ search_value }}" placeholder="{{ constant('SEARCH') }}" class="form-control flex-grow-1">
                            <div class="input-group-append">
                                <button id="rp-search-submit" class="btn {{ constant('DEFAULT_BUTTONS_BACKGROUND') }} ladda-button" data-style="zoom-in" type="submit"><span class="ladda-label"><i class="{{ constant('ICON_SEARCH') }}"></i></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        {# Partial block list - rendered alone on the research results #}
        {% block object_list %}

        <div id="{{ object.item }}-list">

        {% if object.records_count > 0 %}
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-data table-togglable" data-toggle-column="first" data-toggle-selector=".footable-toggle">
                    <thead>
                        <tr class="{{ constant('DEFAULT_TABLE_HEADING_BACKGROUND') }}">
                            <th>&nbsp;</th>
                            {% if constant('ADMIN_ACTION_BUTTONS_POSITION') == 'left' %}
                            <th>{{ constant('ACTION_CONST') }}</th>
                            {% endif %}
                            <th>{{ object.fields.ID }}</th>
                            <th>{{ object.fields.profile_name }}</th>
                            <th data-breakpoints="all">{{ object.fields.read_crm_accounts }}</th>
                            <th data-breakpoints="all">{{ object.fields.update_crm_accounts }}</th>
                            <th data-breakpoints="all">{{ object.fields.create_delete_crm_accounts }}</th>
                            <th data-breakpoints="all">{{ object.fields.constraint_query_crm_accounts }}</th>
                            <th data-breakpoints="all">{{ object.fields.read_phpcg_users }}</th>
                            <th data-breakpoints="all">{{ object.fields.update_phpcg_users }}</th>
                            <th data-breakpoints="all">{{ object.fields.create_delete_phpcg_users }}</th>
                            <th data-breakpoints="all">{{ object.fields.constraint_query_phpcg_users }}</th>
                            <th data-breakpoints="all">{{ object.fields.read_phpcg_users_profiles }}</th>
                            <th data-breakpoints="all">{{ object.fields.update_phpcg_users_profiles }}</th>
                            <th data-breakpoints="all">{{ object.fields.create_delete_phpcg_users_profiles }}</th>
                            <th data-breakpoints="all">{{ object.fields.constraint_query_phpcg_users_profiles }}</th>
                            {% if constant('ADMIN_ACTION_BUTTONS_POSITION') == 'right' %}
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in range(0, object.records_count - 1) %}
                        <tr>
                            <td></td>
                            {% if constant('ADMIN_ACTION_BUTTONS_POSITION') == 'left' %}
                            <td class="has-btn-group no-ellipsis">
                                <div class="btn-group">
                                    {% if object.pk[loop.index0] in object.authorized_update_pk %}
                                    <a href="{{ constant('ADMIN_URL') }}{{ object.item }}/edit/{{ object.pk[loop.index0] }}" class="btn btn-sm btn-warning legitRipple" data-tooltip="{{ constant('EDIT') }}" data-delay="500"><span class="{{ constant('ICON_EDIT') }} icon-md"></span></a>
                                    {% endif %}
                                    {% if object.can_create == true %}
                                    <a href="{{ constant('ADMIN_URL') }}{{ object.item }}/delete/{{ object.pk[loop.index0] }}" class="btn btn-sm btn-danger legitRipple" data-tooltip="{{ constant('DELETE_CONST') }}" data-delay="500"><span class="{{ constant('ICON_DELETE') }} icon-md"></span></a>
                                    {% endif %}
                                </div>
                            </td>
                            {% endif %}
                            <td>{{ object.ID[ loop.index0 ] }}</td>
                            <td>{{ object.profile_name[ loop.index0 ] }}</td>
                            <td>{{ object.read_crm_accounts[ loop.index0 ] }}</td>
                            <td>{{ object.update_crm_accounts[ loop.index0 ] }}</td>
                            <td>{{ object.create_delete_crm_accounts[ loop.index0 ] }}</td>
                            <td>{{ object.constraint_query_crm_accounts[ loop.index0 ] }}</td>
                            <td>{{ object.read_phpcg_users[ loop.index0 ] }}</td>
                            <td>{{ object.update_phpcg_users[ loop.index0 ] }}</td>
                            <td>{{ object.create_delete_phpcg_users[ loop.index0 ] }}</td>
                            <td>{{ object.constraint_query_phpcg_users[ loop.index0 ] }}</td>
                            <td>{{ object.read_phpcg_users_profiles[ loop.index0 ] }}</td>
                            <td>{{ object.update_phpcg_users_profiles[ loop.index0 ] }}</td>
                            <td>{{ object.create_delete_phpcg_users_profiles[ loop.index0 ] }}</td>
                            <td>{{ object.constraint_query_phpcg_users_profiles[ loop.index0 ] }}</td>
                            {% if constant('ADMIN_ACTION_BUTTONS_POSITION') == 'right' %}
                            <td class="has-btn-group no-ellipsis">
                                <div class="btn-group">
                                    {% if object.pk[loop.index0] in object.authorized_update_pk %}
                                    <a href="{{ constant('ADMIN_URL') }}{{ object.item }}/edit/{{ object.pk[loop.index0] }}" class="btn btn-sm btn-warning legitRipple" data-tooltip="{{ constant('EDIT') }}" data-delay="500"><span class="{{ constant('ICON_EDIT') }} icon-md"></span></a>
                                    {% endif %}
                                    {% if object.can_create == true %}
                                    <a href="{{ constant('ADMIN_URL') }}{{ object.item }}/delete/{{ object.pk[loop.index0] }}" class="btn btn-sm btn-danger legitRipple" data-tooltip="{{ constant('DELETE_CONST') }}" data-delay="500"><span class="{{ constant('ICON_DELETE') }} icon-md"></span></a>
                                {% endif %}
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- END table-responsive -->


            {% else %}
            <div class="card-body">
                <p class="text-semibold">
                    {{ alert(constant('NO_RECORD_FOUND'), 'alert-info has-icon')|raw }}
                </p>
            </div>
            {% endif %}

            <div class="card-footer  {{ constant('DEFAULT_CARD_FOOTER_CLASS') }} p-4 mt-5">
                {{ object.pagination_html|raw }}
            </div>
        </div> <!-- END {{ object.item }}-list -->

        {% endblock object_list %}
        {# END Partial block - rendered alone on the research results #}

    </div> <!-- END card -->
